name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Temurin JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Maven license check
        run: mvn -B -ntp org.apache.rat:apache-rat-plugin:0.16:check

      - name: Maven Checkstyle
        run: mvn -B -ntp checkstyle:check

      - name: Run unit tests
        run: mvn -B -ntp test
